@charset "UTF-8";
/* 
$content-width will be the max width of the content within the navigation bar. 
$breakpoint determines at which width the media query breakpoint will take effect.
*/

body {
    background-color: #fff;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #EF7150;
    color: #463f3f;
    text-decoration: none;
    /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}

nav ul li a:hover {
    background: white;
    color: #fb5958;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    /* Guarantees that the dropdown will display on top of any content. */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: block;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: EF7150;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}


/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/

.navigation {
    height: 70px;
    background: #EF7150;
}


/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #463f3f;
    text-decoration: none;
}


/*  site-specific styles that override common styles
	modified 20 feb 2021 Homer
*/


/* regular font is Nestle Text book */

@font-face {
    font-family: Nestle-Book;
    src: url("../fonts/NestleTextTF-Book.ttf");
}


/* font for headings is Nestle Text Bold Condensed */

@font-face {
    font-family: Nestle-Head;
    src: url("../fonts/NestleTextTF-BoldCnd.ttf");
}


/*sets the color space 
  
      NOTE:  All streams and products will share the same colors for consistency 
  */

 :root {
    --banner-height: 100px;
    --page-width: 1000px;
    --main-content-height: calc(100vh - var(--banner-height));
    --primary: rgb(0, 163, 224);
    --primary-light: rgba(0, 163, 224, 0.5);
    --primary-lighter: rgba(0, 163, 224, 0.2);
    --primary-lightest: rgba(0, 163, 224, 0.05);
    --secondary: rgba(0, 175, 170, 1);
    --secondary-light: rgba(0, 175, 170, 0.5);
    --secondary-lighter: rgba(0, 175, 170, 0.2);
    --secondary-lightest: rgba(0, 175, 170, 0.025);
    --accent: rgba(245, 168, 0, 1);
    --accent-light: rgba(245, 168, 0, 0.5);
    --accent-lighter: rgba(245, 168, 0, 0.1);
    --accent-lightest: rgba(245, 168, 0, 0.025);
    --logo: url("../Images/academy-logo.jpg");
    --glossary: var(--primary-lighter);
    --highlight: #fae345;
    /*links*/
    --link: rgb(0, 124, 186);
    --link-light: rgba(0, 124, 186, 0.35);
    --active: rgb(0, 129, 143);
    /* -- for e2e or custom-color sites, copy variables above and add to the site's override css  -- */
    /*oak*/
    --oak: rgb(99, 81, 61);
    --oak-dark: #31261d;
    --oak-mid: rgb(139, 124, 105);
    --oak-mid-light: rgb(185, 177, 171);
    --oak-light: #a2968a;
    --oak-lighter: rgb(209, 203, 197);
    --oak-lightest: #e8e5e2;
    /* individuals */
    --individual: rgb(0, 163, 224);
    --individual-dark: rgb(0, 103, 160);
    --individual-light: rgb(155, 203, 235);
    --individual-alt: #00b2a9;
    --individual-alt-dark: #007681;
    --individual-alt-light: rgb(156, 219, 217);
    /* communities */
    --community: #64a70b;
    --community-dark: rgb(4, 106, 56);
    --community-light: #a4d65e;
    --community-alt: #ffc600;
    --community-alt-dark: #f2a900;
    --community-alt-light: #f9e547;
    /* planet */
    --planet: rgb(252, 76, 2);
    --planet-dark: rgb(209, 65, 36);
    --planet-light: #ff8200;
    --planet-alt: #ce0037;
    --planet-alt-dark: #a50034;
    --planet-alt-light: #ff585d;
    --planet-lighter: rgba(252, 76, 2, 0.15);
    /* respect */
    --respect: #c6007e;
    --respect-dark: rgb(137, 12, 88);
    --respect-light: #eb6fbd;
    --respect-alt: #ac4fc6;
    --respect-alt-dark: #6d2077;
    --respect-alt-light: #c98bdb;
    /* gradients */
    --link-gradient: linear-gradient( to bottom, #007cba 30px, rgba(0, 124, 186, 0.15) 30px, rgba(0, 124, 186, 0.01) 100%);
    --active-gradient: linear-gradient( to bottom, #00818f 30px, rgba(0, 175, 170, 0.15) 30px, rgba(0, 175, 170, 0.01) 100%);
    --oak-gradient: linear-gradient( to bottom, rgba(209, 203, 197, 0.55) 30px, rgba(209, 203, 197, 0.25) 30px, rgba(209, 203, 197, 0.01) 100%);
    --blue-gradient: linear-gradient( to bottom, #0067a0 25px, #0067a0 25px, rgb(156, 219, 217) 100%);
    --purple-gradient: linear-gradient( to bottom, rgba(109, 32, 119, 1) 25px, rgba(172, 79, 198, 0.65) 25px, rgba(172, 79, 198, 0.05) 100%);
    --red-gradient: linear-gradient( to bottom, rgba(165, 0, 52, 1) 25px, rgba(206, 55, 0, 1) 25px, rgba(206, 55, 0, 0.05) 100%);
    --orange-gradient: linear-gradient( to bottom, rgba(252, 76, 2, 1) 25px, white 25px, white 100%);
    --font-text: Nestle-Book, Helvetica, Arial, sanserif;
    --font-head: Nestle-Head, Helvetica, Arial, sanserif;
    --font-script: "Nestle Script Office CYR", Nestle-Head, Helvetica, Arial, sanserif;
    --black: #31261d;
    --black-light: rgba(128, 128, 128, 1);
    --black-lighter: rgba(206, 206, 206, 1);
    --black-lightest: rgba(53, 53, 53, 0.05);
    --white: #fff;
    --white-light: #fafafa;
    --white-lighter: #f1f1f1;
    --white-lightest: rgba(255, 255, 255, 0.05);
    --note: rgba(0, 106, 169, 1);
    --tip: rgba(252, 76, 2, 1);
    --info: rgb(209, 65, 36);
    --warning: rgba(139, 0, 0, 1);
    --checklist: #76b51d;
    --callout: tomato;
    --emena: rgba(137, 12, 88, 1);
    --emena-lighter: rgba(137, 12, 88, 0.05);
    --aoa: rgba(209, 65, 36, 1);
    --aoa-lighter: rgba(209, 65, 36, 0.05);
    --ams: rgba(4, 106, 56, 1);
    --ams-lighter: rgba(4, 106, 56, 0.05);
    --box-card: inset 226px -164px 96px var(--active);
    --box-card-landing: inset 226px 164px 96px var(--active);
    --box-card-toc: inset 226px 164px 96px var(--active);
    --box-small-card: inset 0 -80px 0 0 var(--active);
    --box-small-card-mobile: inset 0 -66px 0 0 var(--active);
    --box-shadow-bk: 10px 10px 300px 20px var(--active);
    --box-shadow-lang: 5px 5px 15px var(--oak-light);
    --box-timeline: 2px 6px 10px var(--oak-lighter);
    --box-nps: 0px 0px 10px rgb(255, 255, 255);
    --box-popup: 10px 10px 300px 20px var(--oak-light);
    --transition-bg: background 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition-fast: all 0.2s ease-in-out;
    --transition-slow: all 0.5s ease-out;
    --transition-boxshadow: box-shadow 0.2s ease-in-out;
    --border-1-p: 1px solid var(--primary);
    --border-1-s: 1px solid var(--secondary);
    --border-1-a: 1px solid var(--accent);
    --border-1-b: 1px solid var(--black);
    --border-1-p-light: 1px solid var(--primary-light);
    --border-1-s-light: 1px solid var(--secondary-light);
    --border-1-a-light: 1px solid var(--accent-light);
    --border-1-b-light: 1px solid var(--oak-light);
    --border-1-p-lighter: 1px solid var(--primary-lighter);
    --border-1-s-lighter: 1px solid var(--secondary-lighter);
    --border-1-a-lighter: 1px solid var(--accent-lighter);
    --border-1-b-lighter: 1px solid var(--oak-lighter);
    --border-1-p-lightest: 1px solid var(--primary-lightest);
    --border-1-s-lightest: 1px solid var(--secondary-lightest);
    --border-1-a-lightest: 1px solid var(--accent-lightest);
    --border-1-b-lightest: 1px solid var(--oak-lightest);
    --border-radius-small: 4px;
    --border-radius-med: 8px;
    --border-radius-large: 16px;
}


/* Course Cards */

div.courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    background-color: var(--individual);
    width: var(--page-width);
    position: relative;
}

div.courses>div.card {
    background: white;
    font-family: var(--font-text);
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    width: calc(25% - 2rem);
    min-width: calc(25% - 2rem);
    height: 300px;
    min-height: 300px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}

.front,
.back {
    display: flex;
    flex-flow: row wrap;
    border-radius: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    transition: var(--transition-fast);
}

.front {
    overflow: hidden;
    height: 100%;
    position: relative;
    justify-content: center;
}

.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

div.card div.bg {
    height: 100px;
    width: calc(100% + 1px);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-image: url(../../Resources/Images/cards/sample/sample.jpg);
}

.card .front p {
    font-size: 0.85rem;
    margin: 0;
    text-align: center;
    width: 100%;
}

.card .front .details {
    position: absolute;
    top: 100px;
    background-color: var(--oak);
    width: 100%;
    padding: 5px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.card .front .details span {
    margin: 0 auto;
    align-items: center;
}

span.duration,
span.level {
    position: relative;
    padding-left: 0px;
}

span.duration:before {
    font-family: "FontAwesome";
    padding-right: 5px;
    content: "\f017";
}

span.level:before {
    font-family: "FontAwesome";
    padding-right: 5px;
    content: "\f142";
}

.card .front .title {
    font-family: var(--font-head);
    font-size: 1.25rem;
    margin: 0 10px;
    text-align: center;
    margin: 0;
    flex: 2 100%;
}

.card .button {
    width: 100%;
}

div.card a.btn {
    background-color: var(--link);
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.back {
    text-align: left;
    background-color: var(--oak-lightest);
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: var(--transition-fast);
}

.card:hover .back {
    bottom: 0;
    -webkit-transition: all 0.2s, -webkit-transform 0.2s;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    opacity: 1;
}

.card .back h3.title {
    margin: 10px;
    font-size: 1rem;
}

.back p.desc {
    overflow: elipsis;
    padding: 0 10px;
    margin: 6px 0 0 0;
    line-height: 1.1;
    color: var(--oak-dark);
    flex: 2 100%;
}