{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Sticky Header (resize on scroll)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href={% static "courseC.css" %}>

</head>

<!-- partial:index.partial.html -->

<body background="back-01.png">
    <br>
    <br>

    <!-- our markup -->
    <header>
        <h1>Course C</h1>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- an image for demonstration purposes -->
    <section>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bSWi68Lsp_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/bDSZiIhuC6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/cMPA1M8d8WE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--<iframe width="33%" height="215" src="https://www.youtube.com/watch?v=cMPA1M8d8WE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 1
        <!--<iframe width="33%" height="215" src="https://www.youtube.com/embed/g0mBNEeKMpg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="33%" height="215" src="https://www.youtube.com/embed/lNIVQKa8kPc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    -->
    </section>
</body>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src={% static "courseC.json" %}></script>






</body>

</html>