{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static 'stylesheet.css' %}>
    <title>Document</title>
</head>
<body>
    <!-- 
Following Tania Ruscia's tutorial on creating your own responsive dropdown navigation bar. https://www.taniarascia.com/responsive-dropdown-navigation-bar/
-->
<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <img src = {% static "Asset 1.png" %} height="65" width="66">
      </div>
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle" href="#!"><span></span></a>
        </div>
        <ul class="nav-list">
          <!-- Setting the links to #! will ensure that no action takes place on click. -->
          <li><a href="/">Home</a></li>
          <li><a href="http://thapar.edu/upload/files/NEW_TIME_TABLE_SHEETS_2021%2C.xlsx?_ga=2.40622053.693901905.1616849846-58263960.1611466488">Time Table</a></li>
          <!--<li><a href="/">Services</a>
            <ul class="nav-dropdown">
              <li><a href="#!">Laundry</a></li>
              <li><a href="#!">Mess timing</a></li>
              <li><a href="#!">Map</a></li>
            </ul>
          </li>--->
          <li><a href="https://myherupa.com">Study material</a></li>
          <li><a href="mailto:admin123@toped.edu">Contact</a></li>
             <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <h1>Welcome {{user.username}}</h1>
  <div class="courses">
    <div class="card" MadCap:conditions="role.dmo-reg-energy-spec, group.rbs,module.dmo-energy,prod.dmo"><div class="front"><div class="bg" style="background-image: url('jpg');"></div><p class="details"><span class="duration">30 mins</span><span class="level">Basic</span></p><h3 class="title">Course A</h3><p class="button"><a class="btn" title="start course" href="#">Start Course</a></p></div><div class="back"><h3 class="title">Course A</h3>
        <p class="desc">Course A</p>
        <p class="button"><a class="btn" title="start course" href="#">Start Course</a></p>
      </div>
    </div>
    <div class="card" MadCap:conditions="role.dmo-reg-energy-spec, group.rbs,module.dmo-energy,prod.dmo">
      <div class="front">
        <div class="bg" style="background-image: url('https://images.unsplash.com/photo-1614308460927-5024ba2e1dcb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNTg0MDI0MQ&ixlib=rb-1.2.1&q=80&w=400');"></div>
        <p class="details"><span class="duration">30 mins</span><span class="level">Basic</span></p>
        <h3 class="title">Course B</h3>
        <p class="button"><a class="btn" title="start course" href="#">Start Course</a></p>
      </div>
      <div class="back">
        <h3 class="title">Course B</h3>
        <p class="desc">Course B</p>
        <p class="button"><a class="btn" title="start course" href="#">Start Course</a></p>
      </div>
    </div>
    <div class="card" MadCap:conditions="role.dmo-reg-energy-spec, group.rbs,module.dmo-energy,prod.dmo">
      <div class="front">
        <div class="bg" style="background-image: url('https://images.unsplash.com/photo-1614308460927-5024ba2e1dcb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNTg0MDI0MQ&ixlib=rb-1.2.1&q=80&w=400');"></div>
        <p class="details"><span class="duration">30 mins</span><span class="level">Basic</span></p>
        <h3 class="title">Course C</h3>
        <p class="button"><a class="btn" title="start course" href="#">Start Course</a></p>
      </div>
      <div class="back">
        <h3 class="title">Course C</h3>
        <p class="desc">Course C</p>
        <p class="button"><a class="btn" title="start course" href="#">Start Course</a></p>
      </div>
    </div>
  </div>
  <script src={% static 'wegram.js' %}></script>
  </body>
</html>
