<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - User Profile with edit </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" href={% static 'style.css' %}>

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="col-md-8 col-sm-6">
            <div class="panel profile-panel">
                <div class="panel-heading">
                    <div class="text-left">
                        <h2>Joe Doe</h2>
                    </div>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="figure-wrapper">
                                <figure>
                                    <img src="http://i2.imgbus.com/doimg/5co1mm5on9b50e7.jpg" alt="">
                                </figure>
                            </div>
                            <div class="profile-details">
                                <h2>Contact</h2>
                                <ul>
                                    <li><i class="fa fa-tasks"></i> Business development</li>
                                    <li><i class="fa fa-users"></i> DHL</li>
                                    <li><i class="fa fa-phone"></i> 00971 12345678</li>
                                    <li><i class="fa fa-envelope"></i> joedoe@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="profile-block">
                                <header class="profile-header">
                                    <h2><i class="fa fa-user"></i> Information</h2>
                                    <!--
                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a data-profile-action="edit" href="#">Edit</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>-->
                                </header>
                                <div class="profile-body">
                                    <div class="profile-view">
                                        <dl class="dl-horizontal">
                                            <dt>Full Name</dt>
                                            <dd>Joe Doe</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Role</dt>
                                            <dd>Business development</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Client Associated</dt>
                                            <dd>DHL</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Phone</dt>
                                            <dd>00971 12345678</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Email</dt>
                                            <dd>joedoe@gmail.com</dd>
                                        </dl>
                                    </div>
                                    <!--<div class="profile-edit">
                                        <dl class="dl-horizontal">
                                            <dt class="p-10">Full Name</dt>
                                            <dd>
                                                <div class="fg-line">
                                                    <input type="text" class="form-control" placeholder="eg. Joe Doe">
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt class="p-10">Role</dt>
                                            <dd>
                                                <div class="fg-line">
                                                    <select class="form-control">
                                                                    <option>Business development</option>
                                                                    <option>Business Analyst</option>
                                                                    <option>Operations Manager</option>
                                                                </select>
                                                </div>
                                            </dd>
                                        </dl>-->
                                    <dl class="dl-horizontal">
                                        <dt class="p-10">Client Associated</dt>
                                        <dd>
                                            <div class="fg-line">
                                                <select class="form-control">
                                                                    <option>DHL</option>
                                                                    <option>Pepsico</option>
                                                                    <option>Addidas</option>
                                                                    <option>Nike</option>
                                                                </select>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt class="p-10">Phone</dt>
                                        <dd>
                                            <div class="fg-line">
                                                <input type="text" class="form-control" placeholder="eg. 00971 12345678">
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt class="p-10">Email</dt>
                                        <dd>
                                            <div class="fg-line">
                                                <input type="text" class="form-control" placeholder="eg. 00971 12345678">
                                            </div>
                                        </dd>
                                    </dl>

                                    <div class="m-t-30">
                                        <button class="btn btn-primary btn-sm waves-effect">Save</button>
                                        <button data-profile-action="reset" class="btn-link btn-cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel body -->
        </div>
    </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src={% static 'script.js' %}></script>

</body>

</html>
